$app-side-padding: 30px;
$app-main-font-color: #000000;
$app-ban-color: #ffffff;
$app-light-color: #8e9cbb;
$app-active-color: #0066ff;
$app-warn-color: #ff238d;

$app-btn-border: 1px solid #d3d8df;
$app-btn-bg-hover: #d3d8df;
$app-btn-transition: 0.6s;
$app-input-underline: 1px solid #bfc9e0;

$app-list-item-border: 1px solid #dfe4ef;

$drag-ghost-shadow: 0px 3px 16px rgba(0, 102, 255, 0.7);